.blog {
  padding: 0 1rem;
  color: $DarkBlue;
  background-color: $White;
  margin-bottom: 6rem;

  &__title {
    text-align: center;
    padding: 5.5rem 0rem 2rem;
    font-size: 2rem;
    font-weight: 300;
  }

  &__articles {
    display: grid;
    gap: 2rem;

    &--card {
      border-radius: 0.5rem;
      overflow: hidden;
    }
    &--img {
      width: 100%;
      object-fit: cover;
      display: block;
      margin-bottom: 0.5rem;
    }
    &--container {
      padding: 1rem 2.3rem;
      text-align: left;
    }
    &--author {
      font-size: 0.6rem;
      color: $GrayishBlue;
    }
    &--title {
      margin-left: 0.4rem;
      margin-top: 0.5rem;
      font-size: 0.97rem;
      font-weight: 500;
      line-height: 1.3rem;
    }
    &--paragraph {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      line-height: 1.1rem;
      margin-bottom: 1rem;
      color: $GrayishBlue;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 1.8rem 6.8rem 0 6rem;
    margin-bottom: 4.5rem;

    &__title {
      font-size: 2.5rem;
      text-align: left;
      margin-left: 4rem;
      margin-bottom: 1rem;
    }

    &__articles {
      padding-left: 4rem;
      display: flex;
      gap: 1rem;

      &--container {
        padding: 1rem;
      }

      &--title {
        padding: 0 2.3rem 0 0;
      }
    }
  }
}
