.header{

    &__logo{
    padding: 24px;
    }
    &__hamburguer{
        padding: 24px;
    }
    &__links{
     
     a {
         color: $GrayishBlue;
         font-size: $font-size-small;
     }
       

    }
    }

