.hero {
  text-align: center;
  background-color: $VeryLightGray;

  &__wrapper {
    max-width: 1115px;
    margin: auto;
  }

  &__image {
    height: 300px;
    background-image: url(../images/image-mockups.png),
      url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 345px;
    margin: 0 -1.5rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
  }

  &__paragraph {
    padding: 0 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: $GrayishBlue;
  }

  &__button {
    padding: 1rem 2.2rem;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border-radius: 1.5rem;
    border: none;
    color: $White;
    font-size: 0.9rem;
  }

  @media screen and (min-width: 768px) {
    text-align: left;

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "description image";
      min-height: 810px;
      align-items: center;
    }

    &__image {
      grid-area: image;
      min-height: inherit;
      background-image: url(../images/image-mockups.png),url(../images/bg-intro-mobile.svg);
      background-size: 815px;
      background-position-x: 6rem;
      background-position-y: -11rem;
    
     
    }

    &__description {
    }

    &__title {
      font-weight: lighter;
      font-size: 3.5rem;
      margin-top: -9rem;
      padding: 0 4rem 0 0;
    }

    &__paragraph {
      width: 500px;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}
