.why {
  margin-top: 6rem;
  padding-top: 2rem;
  background-color: $LightGrayishBlue;
  text-align: center;
 
  &__title{
    padding: 0.1rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    
  }
  &__paragraph{
    padding: 1.2rem;
    font-size: .9rem;
    line-height: 1.5rem;
  }
 
  &__list{
    border: 2px red solid;
    margin-top: 2rem;

    &--title{
    margin-top: 1.5rem;
    padding: 0.1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    }
    &--paragraph{
        margin-top: 1.5rem;
        padding: 0 1.2rem;
        font-size: .9rem;
        line-height: 1.5rem;
        margin-bottom: 1.7rem;
    }
  }
}
