.header {
  &__nav {
    margin-top: 1.5rem;
    padding: 0rem 1.5rem  ;
    display: flex;
    justify-content: space-between;
  }

  &__hamburger{
    width: 40px;
    background: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -10px;
  }
    &__button {
      padding: 1rem 2.2rem;
      background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      );
      border-radius: 1.5rem;
      border: none;
      color: $White;
      font-size: 0.9rem;
    }
  

  @media screen and (min-width:768px) {

    &__container{
      border: 2px red solid;
      display: flex;
      justify-content: space-between;
    }
    &__logo{
      align-self: center;
    }
    &__menu{
      display: flex;
      list-style: none;
    }
    
  }
}
