* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
}

a {
  text-decoration: none;
}

.header__nav {
  margin-top: 1.5rem;
  padding: 0rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.header__hamburger {
  width: 40px;
  background: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: -10px;
}

.hero {
  text-align: center;
}
.hero__wrapper {
  padding: 1rem;
}
.hero__image {
  height: 300px;
  background-image: url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 345px;
  margin: 0 -1.5rem;
}
.hero__title {
  font-size: 2.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}
.hero__paragraph {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: hsl(233, 8%, 62%);
}
.hero__button {
  padding: 1rem 2.2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 1.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}

.why {
  margin-top: 6rem;
  padding-top: 2rem;
  background-color: hsl(220, 16%, 96%);
  text-align: center;
  padding-bottom: 2rem;
}
.why__title {
  padding: 0.1rem 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.why__paragraph {
  padding: 1.2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.why__list {
  margin-top: 2rem;
}
.why__list--title {
  margin-top: 1.5rem;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.why__list--paragraph {
  margin-top: 1.5rem;
  padding: 0 1.2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 1.7rem;
}

.blog {
  padding: 0 1rem;
  color: hsl(233, 26%, 24%);
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 6rem;
}
.blog__title {
  text-align: center;
  padding: 5.5rem 0rem 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.blog__articles {
  display: grid;
  gap: 2rem;
}
.blog__articles--card {
  border-radius: 0.5rem;
  overflow: hidden;
}
.blog__articles--img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
}
.blog__articles--container {
  padding: 1rem 2.3rem;
}
.blog__articles--author {
  font-size: 0.6rem;
  color: hsl(233, 8%, 62%);
}
.blog__articles--title {
  margin-top: 0.5rem;
  font-size: 0.97rem;
  font-weight: 500;
  line-height: 1.3rem;
}
.blog__articles--paragraph {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin-bottom: 1rem;
  color: hsl(233, 8%, 62%);
}

.footer {
  padding-top: 2.5rem;
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 98%);
  align-items: center;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.footer__social--icon {
  width: 25px;
}
.footer__nav {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 0.9rem;
}
.footer__nav--item {
  color: hsl(0, 0%, 100%);
}
.footer__button {
  margin-top: 2rem;
  padding: 1rem 2.2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 1.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}
.footer__copyrigth {
  font-size: 0.9rem;
  font-weight: 100;
  padding: 2rem;
  color: hsl(233, 8%, 62%);
}/*# sourceMappingURL=style.css.map */